@media (max-width: 1000px) {
  /** tablettes + smartphones **/
  body {
    margin: 0;
    width: 100%;
  }
  #switcher-wide {
    display: none;
  }
}
@media (max-width: 500px) {
  /** smartphone **/
  #sandwich {
    display: block;
  }
  body > .content > header.opened .navbar {
    top: 4.5rem;
  }
  body > .content > header .navbar {
    display: block;
    position: fixed;
    top: calc(-100vh + 8.8rem);
    width: 100%;
    height: calc(100% - 4.5rem);
    flex-direction: column;
    transition: .4s;
    z-index: 110;
    background: linear-gradient(150deg, var(--primary) -100%, var(--mid-blue) 150%);
  }
  body > .content > header .navbar nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 4.5rem);
  }
  body > .content > header .switchers {
    margin-right: 0;
    justify-content: center;
  }
  body > .content > header nav a, header .switcher {
    color: white;
    font-size: 1.2rem;
  }
  body > .content main * {
    scroll-margin-top: calc(4.5rem + 1.2rem);
  }
}
@media (min-width: 501px) {
  /** tout sauf smartphone **/
  body > .content > header nav a.active {
    color: white;
    background: linear-gradient(170deg, var(--primary), var(--light-aubergine));
  }
}
@media (min-width: 501px) and (max-height: 800px) {
  /** smartphone paysage **/
  body > .content > header {
    top: -4.5rem;
  }
  body main * {
    scroll-margin-top: calc(3rem + 1.2rem);
  }
}
