@font-face {
  font-family: Din;
  src: url('../fonts/d.woff2') format('woff2');
}
@font-face {
  font-family: Din;
  src: url('../fonts/d-bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/open-sans-v27-latin-700.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/open-sans-v27-latin-700italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/open-sans-v27-latin-italic') format('woff2');
  font-style: italic;
}
/*
@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-v29-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-v29-latin-700.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-v29-latin-700italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-v29-latin-italic') format('woff2');
  font-style: italic;
}*/

