$stripe1: #707070;
$stripe2: #737373;
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $text-color;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(135deg, $stripe1 25%, $stripe2 25%, $stripe2 50%, $stripe1 50%, $stripe1 75%, $stripe2 75%, $stripe2 100%);
  background-size: 5.66px 5.66px;
  /*** fix pour glitch android ***/
  background-color: $stripe1;
}
.content {
  width: Min($page-width, calc(100% - 2*#{$external-margin}));
  transition: width .8s;
}
main {
  background-color: $main-background-color;
  padding: $internal-margin;
  scroll-margin-top: calc(4.5rem + 1.2rem);
}
.content {
  z-index: 1;
  position: absolute;
}