body > .content > header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
#logo {
  width: 100%;
  max-width: 35rem;
  img {
    width: 100%;
  }
}
a#logo:hover {
  background-color: transparent;
}
body > .content > header:after {
  content:"";
  position:absolute;
  width:100%;
  bottom:1px;
  transform:scale(.99);
}
body > .content > header a {
  color: white;
}
body > .content > header a:hover {
  color: var(--text-grey);
}
body > .content > header .topbar {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  align-items: center;
  margin: 0;
}
body > .content > header .navbar {
  display: flex;
}
body > .content > header nav {
  display: flex;
  font-family: Din, "Trebuchet MS", "Open Sans", sans-serif;
  margin: .5rem 0 1rem 0;
  gap: 0 2rem;
}
body > .content > header nav a, body > .content > header .switcher {
  display: block;
  transition: color .4s, background-color .4s;
  color: rgba(220, 220, 220, .85);
  height: 3rem;
  line-height: 3rem;
}
body > .content > header nav a {
  font-size: 1.5rem;
}
body > .content > header nav a:hover, body > .content > header .switcher:hover {
  color: white;
}
body > .content > header nav a:hover {
  background-color: transparent;
}

/* #region SANDWICH */
#sandwich {
  display: none;
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1.5rem;
  cursor: pointer;
  flex-shrink:0;
}
#sandwich > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25%;
  background-color: rgba(255, 255, 255, .5);
  transition: 0.4s;
  pointer-events: none;
}
#sandwich > div:first-child {
  transform: translate(0, 25%) scale(.85, .5);
}
#sandwich > div:nth-child(2){
  transform: translate(0, 150%) scale(.85, .5);
}
#sandwich > div:last-child {
  transform: translate(0, 275%) scale(.85, .5);
}
.opened #sandwich > div:first-child {
  transform: translate(0, 150%) rotate(45deg) scale(1, .666);
}
.opened #sandwich > div:nth-child(2){
  opacity: 0;
}
.opened #sandwich > div:last-child {
  transform: translate(0, 150%) rotate(-45deg) scale(1, .666);
}
/*#endregion*/

/* #region CONTRÔLE SIDEBAR */
.sidebar-control {
  display: none;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
}
.sidebar-control:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
  transition: .4s;
}
.open .sidebar-control:after {
  width: 66%;
}
.topbar .sidebar-control {
  width: 1.4rem;
  height: 1.4rem;
  flex-shrink: 0;
  margin-right: 1rem;
  order: 3;
}
.topbar:before {
  content: '';
  order: 2;
  flex-grow: 2;
}
.topbar #logo {
  order: 1;
}
.topbar #sandwich {
  order: 4;
}
.navbar .sidebar-control {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1rem;
}
/*#endregion*/

nav#lang {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      color: #ccc;
      display: inline;
      &::before {
        display: none;
      }
      &:not(:last-child)::after {
        content: " | ";
      }
    }
  }
}