.rgbShiftSlider {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  /*mix-blend-mode: hard-light;*/
  opacity: 0.85;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  /*transform-origin : 50vw 300vh;*/
  transform-origin: 50% 50%;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
