:root {
  /* taille typo générale */
  font-size: Min(18px,calc(13px + .5vw));
}

$primary: #333;
$medium: #444;
$light: #333;
$text-color: $light;
$headers-color: $medium;
$main-background-color: rgba(255,255,255,.5);

$internal-margin: 1.6rem;
$external-margin: 2rem;
$page-width: 1080px;
