<!DOCTYPE html>
<html lang="fr">
<head>

  {{ if isset .Params "redirect" }}
    <meta http-equiv="refresh" content="0; URL='{{ .Params.redirect }}'" />
  {{ end }}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/favicon.png">
  <meta property="og:type" content="website">

  <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Colectiva - Programme de résidences dans les domaines des arts visuels et sonores{{ end }}">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta name="theme-color" content="#333">

  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="/sass/main.css">
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <script type="module" src="/js/app.js"></script>

</head>

<body id="page_{{ with .File }}{{ .BaseFileName }}{{ end }}">
  <div class="content">
    <header>
      <div class="topbar">
        <a href="{{ .Site.Home.File.Dir }}" id="logo">
          <img src="/img/logo.svg">
        </a>
      </div>
    </header>
    <nav id="lang">
        <ul>
          {{ range $.Site.Home.AllTranslations }}
            <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul>
    </nav>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>

</body>

</html>