{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{/* $src := $.Page.Resources.GetMatch (.Get "src") */}}
{{ $src := resources.GetMatch (.Get "src") }}
{{ $alt := .Get "alt" }}

{{ if in (.Get "src") "http" }}
<img src="{{$src}}" {{ if $alt }}alt="{{ $alt }}"{{ end }}>
{{ else }}
{{ if in (.Get "src") ".gif" }}
<img src="{{$src.RelPermalink}}" {{ if $alt }}alt="{{ $alt }}"{{ end }}>
{{ else }}
{{/* set image sizes, these are hardcoded for now */}}

{{ $tinyw := default "500x" }}
{{ $smallw := default "800x" }}
{{ $mediumw := default "1000x" }}

{{/* resize the src image to the given sizes */}}

{{ $tiny := ($src.Resize $tinyw) }}
{{ $small := ($src.Resize $smallw) }}
{{ $medium := ($src.Resize $mediumw) }}

{{/* only use images smaller than or equal to the src (original) image size */}}
<a href="{{ $src.RelPermalink }}" class="picture"
  data-width="{{ $src.Width }}"
  data-height="{{ $src.Height }}"
  {{ if $alt }}data-title="{{ $alt }}"{{ end }}><img
  {{ with .Get "sizes" }}sizes='{{.}}'
  {{ else }}
  sizes="(min-width: 35em) 720px, 100vw"{{ end }}
  srcset='
  {{ if ge $src.Width "500" }}
    {{ with $tiny.RelPermalink }}.{{.}} 500w{{ end }},
  {{ end }}
  {{ if ge $src.Width "800" }}
    {{ with $small.RelPermalink }}.{{.}} 800w{{ end }},
  {{ end }}
  {{ if ge $src.Width "1000" }}
    {{ with $medium.RelPermalink }}.{{.}} 1000w{{ end }},
  {{ end }}
  .{{ $src.RelPermalink }} {{ $src.Width }}w'
  src="{{ $src.RelPermalink }}"
  {{ if $alt }}alt="{{ $alt }}"{{ end }}></a>
{{ end }}
{{ end }}